* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Timer;
}

body {
    font-family: Timer;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #eee;
}


.container {
    width: 575px;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B244A;
    margin: 0 auto;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    margin: 0 auto;
}

p {
    width: 155px;
    height: 100px;
    font-size: 90px;
    color: #f94f6d;
    background-color: #080001;
    text-align: center;
    margin: 22px 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    /* margin: 0 auto; */
}

.buttons button{
    font-family: Timer;
    font-size: 18px;
    width: 45px;
    height: 45px;
    color: #9AABD8;
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    padding-top: 2px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* margin: 0 auto; */
}
